// BASIC STYLES

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This define 1 rem. And 1 rem = 10px
  font-size: 62.5%; // 10px/16px = 62.5%
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: $spartan;
  background-color: $white;
}

html {
  height: -webkit-fill-available;
}

img {
  max-width: 100%;
  height: auto;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
