// SOCIAL PROOF SECTION
.social {
  padding: 8rem 2rem;
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  @media screen and (min-width: 23.2em) {
    background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
  }

  @media screen and (min-width: 70em) {
    padding: 6rem;
  }

  @media screen and (min-width: 90em) {
    padding: 12rem 16rem;
  }

  &__products-title {
    color: $very-dark-magenta;
    font-weight: 700;
    font-size: 3.3rem;

    @media screen and (min-width: 70em) {
      font-size: 5rem;
    }
  }

  &__products {
    text-align: center;
    display: flex;
    flex-flow: column wrap;

    @media screen and (min-width: 56em) {
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 6rem;
    }
  }

  &__products-rate {
    flex: 1;
  }

  &__products-content {
    max-width: 45rem;
    margin: auto;

    @media screen and (min-width: 70em) {
      text-align: left;
      margin-right: 2rem;
    }
  }

  &__products-text {
    margin: 3rem 0;
    font-size: 1.4rem;
    color: $dark-grayish-magenta;
    font-weight: 500;

    @media screen and (min-width: 70em) {
      font-size: 1.6rem;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media screen and (min-width: 75em) {
      min-height: 35rem;
    }
  }

  &__card {
    @media screen and (min-width: 43em) {
      margin-right: 2rem;
    }
  }

  &__rate {
    margin: 1rem auto;
  }

  @media screen and (min-width: 75em) {
    &__rate:first-of-type {
      margin-left: 0;
      margin-right: 10rem;
    }
    &__rate:nth-of-type(2) {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    &__rate:nth-of-type(3) {
      margin-left: 10rem;
    }

    &__card:nth-of-type(1) {
      align-self: flex-start;
    }
    &__card:nth-of-type(2) {
      align-self: center;
    }
    &__card:nth-of-type(3) {
      align-self: flex-end;
    }
  }
}
