// SOCIAL PROOF SECTION
.social {
  padding: 2rem;
  &__products-title {
    color: $very-dark-magenta;
    font-weight: 700;
    font-size: 3.3rem;
  }

  &__products {
    text-align: center;
  }

  &__products-text {
    margin: 3rem 0;
    font-size: 1.4rem;
    color: $dark-grayish-magenta;
    font-weight: 500;
  }
}
